<BsNavbar
	@type="dark"
	@backgroundColor="dark"
	@collapsed={{true}}
	@onCollapse={{action (mut collapsed) true}}
	@onExpand={{action (mut collapsed) false}} as |navbar|>
	<div class="container">
		<div class="navbar-header">
			{{navbar.toggle}}
			<LinkTo @route="books" class="navbar-brand">BooksList 📚</LinkTo>
		</div>
		<navbar.content>
			<navbar.nav as |nav|>
				<nav.item>
					<nav.link-to @route="books">Home</nav.link-to>
				</nav.item>
			</navbar.nav>
			<ul class="navbar-nav ml-auto">
				<SearchBooks />
			</ul>
		</navbar.content>
	</div>
</BsNavbar>

<section class="jumbotron text-center">
  <div class="container">
    <p class="lead text-muted">Here you can find the best books around the web. Just stick around and be amazed ✨</p>
    <p class="font-italic">PS. Don't forget to search by your favorite authors</p>
  </div>
</section>
	
<div class="container">
	<div class="row">
		{{outlet}}
	</div>
</div>

<footer class="text-muted footer mt-auto py-3">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Made with ♥ by <a href="https://romeoonisim.com/" target="_blank" class="badge badge-light">Romeo</a> &amp; <a href="https://www.agilefreaks.com/" target="_blank" class="badge badge-light">AgileFreaks</a></p>
  </div>
</footer>